@import url('https://vjs.zencdn.net/7.17.0/video-js.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

a {
  color: black;
  text-decoration: none;
}

footer {
  margin: 0 0 20px 0;
}

p {
  margin: 0 0 10px;
}

.contentContainer {
  padding: 40px 0 10px 0;
}

.similarAppsContainer {
  padding: 10px 0;
}

.postContent {
  margin-left: auto;
  margin-right: auto;
  min-width: 210px;
  max-width: 480px;
  padding: 0 15px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: teal;
}

.icon {
  height: 48px;
  width: 48px;
  object-fit: contain;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.excerpt {
  font-size: 15px;
}

.ratings {
  margin-top: 15px;
}

.ratingSmallContainer {
  display: flex;
  justify-content: flex-end;
  width: 170px;
}

.rating {
  display: inline-block;
  width: 70px;
  height: 14px;
  background: url(../images/rating.png) top left;
  vertical-align: middle;
  margin-bottom: 4px;
}

.ratingSmall {
  display: inline-block;
  width: 60px;
  height: 13px;
  background: url(../images/rating-small.png) top left;
  vertical-align: middle;
  margin-bottom: 4px;
}

.rate-5 {
  background-position: 0 -70px;
}
.rate-4 {
  background-position: 0 -56px;
}
.rate-3 {
  background-position: 0 -42px;
}
.rate-2 {
  background-position: 0 -28px;
}
.rate-1 {
  background-position: 0 -14px;
}

.smallRate-5 {
  background-position: 0 -65px;
}
.smallRate-4 {
  background-position: 0 -52px;
}
.smallRate-3 {
  background-position: 0 -39px;
}
.smallRate-2 {
  background-position: 0 -26px;
}
.smallRate-1 {
  background-position: 0 -13px;
}

.fileSize {
  fill: teal;
  display: flex;
  align-items: center;
  margin: 15px 0 0;
}

.workOffline {
  fill: teal;
  display: flex;
  align-items: center;
  margin: 5px 0 0;
}

.lastUpdated {
  font-size: 13px;
  margin-top: 15px;
}

.postButton {
  background-color: white;
  width: 100%;
  font-size: 18px;
  margin-bottom: 5px;
  padding: 8px;
  border: 2px solid teal;
  border-radius: 5px;
  color: teal;
  fill: teal;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
}

.postButton:hover {
  border: 2px solid #2d5750;
  color: #2d5750;
  fill: #2d5750;
  background-color: #f0f0f0;
}

.audio {
  margin: 15px 0;
}

.audioIcon {
  height: 16px;
  width: 25px;
  margin-right: 10px;
}

.audio-player {
  margin-bottom: 16px;
}

.audio-player-btn {
  width: 33.3333%;
  height: 100%;
  cursor: pointer;
  border: solid 1px #fff !important;
}
.audio-player-btn:hover {
  background-color: #2d5750 !important;
}
.audio-player-btn--backward {
  border-width: 1px 2px 0 0 !important;
  background: url(../images/backward-10.svg) no-repeat teal center/16px auto !important;
}
.audio-player-btn--forward {
  border-width: 1px 0 0 2px !important;
  background: url(../images/forward-10.svg) no-repeat teal center/16px auto !important;
}
.audio-player .video-js {
  background: none;
}
.audio-player .video-js.vjs-fluid {
  height: 62.5px;
  padding: 0;
}
.audio-player .video-js .vjs-big-play-button {
  display: none;
}
.audio-player .video-js .vjs-control:focus {
  text-shadow: none;
}
.audio-player .video-js .vjs-progress-control {
  width: 100%;
  height: 10px;
  background: #008080;
}
.audio-player .video-js .vjs-progress-control .vjs-progress-holder {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: none;
}
.audio-player .video-js .vjs-progress-control .vjs-progress-holder:hover {
  font-size: 1em;
}
.audio-player .video-js .vjs-progress-control .vjs-play-progress {
  background: none;
}
.audio-player .video-js .vjs-progress-control .vjs-play-progress::before {
  transform: translateY(3px);
  display: inline-block;
  width: 6px;
  height: 100%;
  content: "";
  border-radius: 0;
  background: #f09969;
}
.audio-player .video-js .vjs-current-time,
.audio-player .video-js .vjs-duration {
  font-size: 14px;
  line-height: 1.5;
  display: block;
  width: 50%;
  height: auto;
  padding: 0 5px;
  color: #031e1b;
  background: #4eb6ab;
}
.audio-player .video-js .vjs-current-time {
  float: left;
  text-align: left;
}
.audio-player .video-js .vjs-duration {
  float: right;
  text-align: right;
}
.audio-player .video-js .vjs-time-tooltip {
  font-size: 1em !important;
}
.audio-player .video-js .vjs-control-bar {
  display: flex;
  background: none;
  justify-content: space-between;
}
.audio-player .video-js .vjs-control-bar .vjs-play-control {
  width: 33.33%;
  border: solid 1px #fff;
  border-width: 1px 1px 0;
  background: #008080;
}
.audio-player .video-js .vjs-control-bar .vjs-play-control:hover {
  background-color: #2d5750;
}

.similarApps {
  background-color: #2d5750;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 5px 0px;
  width: 100%;
}
